# Build validation

name: Build

on:
  push:
    branches-ignore:
      - master
      - experimental/**
  pull_request:
    branches-ignore:
      - master
      - experimental/**
  workflow_dispatch:

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        java: [8, 11]

    steps:
      # Check out Git repository
      - name: Checkout code
        uses: actions/checkout@v2

      # Set up environment with Java and Maven
      - name: Setup JDK
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}

      # Set up dependency cache
      - name: Cache local Maven repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      # Build & verify
      - name: Build and verify
        run: ./mvnw -s ./.maven-settings.xml -Pcontinuous-integration -B -U clean verify

      # Run code coverage check
      - name: Run code coverage check
        run: bash <(curl -s https://codecov.io/bash)
